@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap; 
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap; 
}
/*==== Default classes start ====*/
.bg-dark-blue {
	background-color: #263238;
}
.bg-light-blue {
	background-color: #64b5f6;
}
.bg-blue {
	background-color: #4f71ce;
}
.bg-violet {
	background-color: #6370b6;
}
.bg-yellow {
	background-color: #fcb322;
}
.bg-orange {
	background-color: #ef6c00;
}
.bg-red {
	background-color: #e74c3c;
}
.bg-green {
	background-color: #8bc34a;
}
.bg-white {
	background-color: #fff;
}
.bg-dark-grey {
	background-color: #455a64;
}
.border-grey {
	border: 1px solid #dedede;
}
.text-center {
	text-align: center;
}
.ml-auto {
	margin-left: auto;
}
.mr-auto {
	margin-right: auto;
}
.mt-auto {
	margin-top: auto;
}
.mb-auto {
	margin-bottom: auto;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}
.btn {
	font-family: 'robotoregular', sans-serif;
	font-size: .75rem;
	line-height: 1.5rem;
	color: #fff;
	padding: 4px 17px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.btn.btn-big {
	font-family: 'robotomedium', sans-serif;
	font-size: .9375rem;
	width: 100%;
	padding: 12px 0;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
.btn.btn-in-dropdown {
	font-family: 'robotobold', sans-serif;
	font-size: .875rem;
	color: #f4f6f5;
	/* padding: 5px 15px; */
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
.product-btn {
	font-family: 'robotomedium', sans-serif;
	font-size: 1rem;
	color: #f4f6f5;
	border: 1px solid transparent; 
	padding: 13px 24px;
}
/*==== Default classes end ====*/
/* ==== Default component start ==== */
.breadcrumb {
	padding: 45px 0;
}
.breadcrumb > li {
	display: inline-block;
}
.breadcrumb > li a {
	font-family: 'robotoregular', sans-serif;
	font-size: .9375rem;
	color: #b0bec5;
}
.breadcrumb > li + li::before {
    content: '-';
    padding: 0 5px;
    color: #8bc34a;
}
.breadcrumb > .active {
    color: #263238;
}
.aside-section {
    padding: 20px 30px 40px;
}
.aside-section + .aside-section {
    margin-top: 30px;
}
.aside-title {
	font-family: 'robotobold', sans-serif;
	font-size: 1.25rem;
	color: #263238;
    padding-bottom: 18px;
    border-bottom: 1px solid #dde3e8;
    margin-bottom: 25px;
}
.default-chevron-list li + li {
	margin-top: 25px;
}
.default-chevron-list > li i {
	margin-right: 10px;
	font-size: .875rem;
	color: #8bc34a;
}
.default-chevron-list .category-item-count {
	color: #90a4ae;
}
.card {
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
       -moz-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
            box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
	-webkit-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	transition: all .1s ease-in;
	font-family: 'robotomedium', sans-serif;
}
.card:hover {
    -webkit-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
       -moz-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
            box-shadow: 0 16px 20px rgba(216, 216, 216, .75);    
}
.card-img img{
    width: 100%;
}
.card-description {
    padding: 25px 20px;
    border-bottom: 1px solid #e7ecf2;
}
.card-item-info .card-title {
    display: block;
}
.card-item-info .card-category {
	display: block;
	font-size: .875rem;
	color: #8bc34a;
}
.card-description .card-price {
	font-family: 'robotobold', sans-serif;
	font-size: 1.25rem;
}
.card-author-info {
    padding: 16px 20px;
}
.card-author img {
    width: 30px;
	height: 30px;
	margin-right: 10px;
}
.card-author span {
	font-size: .875rem;
	color: #546e7a;
	vertical-align: middle;
}
.product-rating li {
    display: inline-block;
    font-size: .75rem;
	color: #ffa726;
	line-height: 30px;
}
.product-reviews-count::before {
	content: '(';
	color: #b0bec5;
}
.product-reviews-count::after {
	content: ')';
	color: #b0bec5;
}
.product-reviews-count {
	font-family: 'robotoregular', sans-serif;
	margin-left: 8px;
}



.pagination {
	padding: 30px 0 7pxg;
}
.pagination .page-item + .page-item {
	margin-left: 10px;
}
.pagination .page-item .page-link {
	font-family: 'robotomedium', sans-serif;
	font-size: 1rem;
	padding: 7px 16px;
	background-color: #fff;
}
.page-item .page-link:hover,
.page-item .page-link.page-link-active {
	background-color: #e74c3c;
	color: #fff;
}

/* ==== Default component end ==== */
/*==== Custom style start ====*/
/*=== Header start ===*/
.header-top {
	padding: 26px 0;
}
.header-top .need-help {
	font-family: 'robotoregular', sans-serif;
	font-size: .9375rem;
	line-height: 1.5rem;
	color: #546e7a;
}
.header-top .need-help span span {
	color: #e95849;
	margin-right: 5px;
}
.user-controls {
	margin-left: 30px;
	margin-right: 25px;
}
.dropdown-item {
    position: relative;
}
.dropdown-item + .dropdown-item {
	margin-left: 16px;
}
.dropdown-item .dropdown-control {
	background-color: #f5f5f5;
	width: 34px;
	height: 34px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	position: relative;
}
.dropdown-item .dropdown-control i {
	font-size: .875rem;
	color: #a0a0a0;
	cursor: pointer;
}
.user-dropdown-control {
	position: relative;
}
.dropdown-menu {
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 99;
    border: 1px solid #d3d3d3;
    min-width: 270px;
	right: 0;
	top: 32px !important;
	-webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
	   -moz-box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
	        box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
}
.dropdown-menu.show {
    display: block;
}
.user-dropdown-control .dropdown-menu {
	min-width: 160px;
	padding: 25px 20px;
	top: 25px !important;
	left: 20px !important;
}
.user-dropdown-control .dropdown-menu .default-chevron-list li + li {
	margin-top: 15px;
}
.user-dropdown-control .dropdown-menu .default-chevron-list li a {
	font-family: 'robotoregular', sans-serif;
	font-size: 0.75rem;
	color: #546e7a;
}
.user-dropdown-control .dropdown-menu .default-chevron-list li i {
	font-size: 0.g75rem;
}
.dropdown-menu .dropdown-notify-item {
	padding: 18px 30px 22px;
}
.dropdown-menu .dropdown-notify-item + .dropdown-notify-item {
	border: 1px solid #e0e0e0;
}
.dropdown-notify-item .notify-item-info {
	font-family: 'robotoregular', sans-serif;
	margin-left: 20px;
	margin-top: 2px;
	line-height: 1rem;
}
.dropdown-notify-item .notify-item-info .notify-author {
	font-family: 'robotobold', sans-serif;
	font-size: .75rem;
	color: #263238;
}
.dropdown-notify-item .notify-item-info .notify-direction {
	font-family: 'robotomedium', sans-serif;
	font-size: .9375rem;
	color: #263238;
}
.dropdown-notify-item .notify-item-info .notify-price {
	font-family: 'robotomedium', sans-serif;
	font-size: 1rem;
	color: #000;
}
.dropdown-notify-item .notify-item-info h6 {
	font-size: .75rem;
	color: #84b743;
}
.dropdown-notify-item .notify-item-info .notify-date {
	font-size: .625rem;
	color: #707070;
}
.dropdown-notify-item i {
	font-size: 1rem;
	color: #b0bec5;
	margin-top: 5px;
}
.dropdown-notify-item .fa-share {
	-webkit-transform: rotateY(180deg);
	   -moz-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}
.dropdown-notify-item:hover .fa-bell {
	color: #fcb322;
}
.dropdown-notify-item:hover .fa-share,
.dropdown-notify-item:hover .fa-envelope {
	color: #ef6c00;
}
/* .dropdown-menu.show .dropdown-notify-item:hover .dropdown-control {
	color: #263238;
} */
.notify-item-info .notify-direction {
	display: block;
	margin-bottom: 5px;
}
.notify-item-info .notify-price {
	display: block;
	margin-top: 5px;
}
.total-info {
	padding: 18px;
}
.total-info .total-info-wrap {
	padding: 0 15px 10px;
	font-family: 'robotobold', sans-serif;
	font-size: 1rem;
	color: #263238;
}



.dropdown-item .dropdown-control .notify-count {
	position: absolute;
	top: -8px;
	right: -5px;
	width: 18px;
	line-height: 18px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	text-align: center;
	font-family: 'open_sanssemibold', sans-serif;
	font-size: .6875rem;
	color: #fff;
}
.user-controls .user-dropdown-control {
	margin-left: 20px;
}
.user-controls .user-dropdown-control .user-avatar {
	width: 34px;
	height: 34px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	margin-right: 15px;
}
.user-controls .user-info-wrap {
	font-family: 'robotomedium', sans-serif;
	font-size: .875rem;
	line-height: 1.5rem;
	color: #222;
	cursor: pointer;
}
.user-controls .user-info-wrap h6 .fa-chevron-down {
	color: #707070;
	margin-left: 10px;
}
.user-controls .user-info-wrap .balance {
	font-family: 'robotobold', sans-serif;
	color: #8bc34a;
}
.btn.login-btn {
	margin-right: 8px;	
	padding: 4px 24px;
}
.header-bottom {
	padding: 16px 0;
}
.header-bottom .header-nav a {
	font-family: 'robotomedium', sans-serif;
	font-size: .875rem;
	line-height: 1.875rem;
	color: #fff;
}
.header-bottom .header-nav a + a {
	margin-left: 37px;
}
/*=== Header end ===*/
/*==== Main start ====*/
/*=== Inner start ===*/
.inner {
	background: url(../img/bg-inner.jpg) no-repeat center / cover;
	padding: 165px 0 170px;
}
.inner .inner-title {
	font-family: 'robotobold', sans-serif;
	font-size: 48px;
	line-height: 30px;
	color: #fff;
	margin-bottom: 30px;
}
.inner .inner-subtitle {
	margin-bottom: 50px;
}
.inner.small-inner .inner-subtitle {
	margin-bottom: 25px;
}
.inner.small-inner {
	background: url(../img/bg-inner-small.jpg) no-repeat center / cover;
	padding: 57px 0 67px;
}
.inner .inner-subtitle,
.inner.small-inner .inner-subtitle {
	font-family: 'robotomedium', sans-serif;
	font-size: 1.25rem;
	line-height: 1.875rem;
	color: #fff;
	font-weight: normal;
}	
.search-wrap {
	max-width: 671px;
	margin: 0 auto;
	position: relative;
}
.search-wrap .search-input {
	width: 100%;
	padding-left: 25px;
	padding-right: 50px;
	background-color: #fff;
	height: 56px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
	   -moz-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
	        box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
}
.search-input::-webkit-input-placeholder {
	color:#90a4ae;
	font-family: 'robotomedium', sans-serif;
	font-size: .875rem;
	line-height: 1.875rem;
	letter-spacing: .05em;
	font-weight: normal;
}
.search-input::-moz-placeholder          {
	color:#90a4ae;
	font-family: 'robotomedium', sans-serif;
	font-size: .875rem;
	line-height: 1.875rem;
	letter-spacing: .05em;
	font-weight: normal;
	}/* Firefox 19+ */
.search-input:-moz-placeholder           {
	color:#90a4ae;
	font-family: 'robotomedium', sans-serif;
	font-size: .875rem;
	line-height: 1.875rem;
	letter-spacing: .05em;
	font-weight: normal;
	}/* Firefox 18- */
.search-input:-ms-input-placeholder      {
	color:#90a4ae;
	font-family: 'robotomedium', sans-serif;
	font-size: .875rem;
	line-height: 1.875rem;
	letter-spacing: .05em;
	font-weight: normal;
}
.search-wrap .search-btn {
	position: absolute;
	right: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
	background-color: transparent;
	color: #7c939f;
	font-size: 1.25rem;
}
/*=== Inner end ===*/
/* === all-items === */
.all-items-wrap .card {
    margin-bottom: 30px;
}
.view-controls {
    padding: 20px;
    margin-bottom: 30px;
}
.sort-by .fa-sort-amount-down {
	font-size: .875rem;
	color: #455a64;
}
.sort-by span {
	font-family: 'robotoregular', sans-serif;
	color: #707070;
	margin: 0 13px;
}
.sort-by .fa-sort {
	font-size: 1.125rem;
	color: #707070;
}
.sort-view {
	font-size: 1rem;
}
.sort-view .fa-th-large {
	color: #8bc34a;
}
.sort-view .fa-th-list {
	color: #90a4ae;
}
/* === all-items end === */
/* === Aside start === */
.aside-section .range-slider-wrap {
	margin-bottom: 50px;
}
.aside-section .btn .fa-search {
	margin-right: 10px;
}
.aside-section .card {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	border-bottom: 1px solid #dde3e8;
}
.aside-section .card .card-description {
	padding: 15px 0;
	border-bottom: none;
}
.aside-section .card .card-author-info {
	padding: 0 0 25px;
}
/* == Product-info start == */
.product-info-wrap .product-baner {
	padding: 20px;
}
.product-links {
	margin-bottom: 57px;
}
.product-btn + .product-btn {
	margin-left: 18px;
}
.product-social .product-link + .product-link {
	margin-left: 5px;
}
.product-social .product-link {
	font-size: 1.125rem;
	color: #fff;
	padding: 12px 20px;
}
.product-social .product-link.facebook:hover {
	color: #6370b6;
	background-color: #fff;
	border: 1px solid #6370b6; 
}
.product-social .product-link.twitter:hover {
	color:  #64b5f6;
	background-color: #fff;
	border: 1px solid #6370b6; 
}
.product-social .product-link.linkedin:hover {
	color: #4f71ce;
	background-color: #fff;
	border: 1px solid #4f71ce; 
}
.product-social .product-link.pinterest:hover {
	color: #e74c3c;
	background-color: #fff;
	border: 1px solid #e74c3c; 
}

.product-description {
	padding: 40px 0 45px;
}
.product-info-title {
	font-family: 'robotomedium', sans-serif;
	font-size: 1.875rem;
	margin-bottom: 30px;
}
.product-info-text {
	font-family: 'robotoregular', sans-serif;
	font-size: 1rem;
	color: #707070;
}
/* product tabs start*/
.tab-pane {
    display: none;
}
.tab-pane.show {
    display: block;
}
.nav-item {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.nav-item + .nav-item {
    border-left: 1px solid #dfdfdf;
}
.nav-link {
    padding: 20px 10px;
    text-align: center;
    display: block;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}
.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -1px;
    right: -1px;
    height: 0;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.nav-link.active::after {
    height: 3px;
    background-color: #8bc34a;
}
/* product tabs end */
/* == Product-info end == */
/* === Aside end === */
/*==== Main end ==== */

/*==== Custom style end ====*/